<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="peccin.location"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="SneerApp"
            android:value=""/>

        <activity
            android:name=".SendLocationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Send Location"
            android:theme="@android:style/Theme.DeviceDefault.Dialog">
        </activity>

        <activity
            android:name=".FollowMeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Follow Me">
            <meta-data
                android:name="sneer:session-type"
                android:value="follow me"/>
        </activity>

        <service
            android:name=".FollowMeService"
            android:enabled="true">
        </service>

        <receiver
            android:name=".FollowMeServiceKiller"
            android:enabled="true">
        </receiver>
    </application>

</manifest>
